<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BLOGS</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Blog Posts by Ruth</h1>
<div class="container">

    {% for post in posts %}
    <h2><a href="{{ post.slug }}">{{ post.title }}</a></h2>
    <p>{{ post.created_at }}</p>
    <p>{{ post.content|truncatewords:20 }}</p>
    <a href="{{ post.slug }}" class="btn-primary">Read More</a>
    {% endfor %}
</div>
</body>
</html>